{% extends "::base.html.twig" %}

{% block title %}HypersitesStockBundle:ProductVariation:updateStockItems{% endblock %}

{% block body %}
<h1>Welcome to the ProductVariation:updateStockItems page</h1>
{% endblock %}
